extends layout

block content
  h1= title
  
  table
    each book in book_list
      tr
        td 
          a(href=book.url) #{book.title} 
        td (#{book.author.name})
      tr
    else
      li There are no authors.