extends layout

block content
  h1= title

  p
    a(href='https://github.com/Runfire22/express-bib') GitHub Link
  
  table
      tr
        td Dato
        td Ændring
      tr
      tr
        td 17/12
        td Fik skabt tabeller i author_list.pug, book_list.pug, bookinstance_list.pug og genre_list.pug, hvor der var ul og li.
      tr
      tr
        td 18/12
        td Fik lavet info siden, som kan ses her.
      tr